@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic');

* {
  transition: all .3s ease;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: white;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  position: fixed;
  padding: 20px 20px;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

nav a {
  box-sizing: border-box;
  font-size: 14px;
  text-decoration: none;

  color: inherit;
}

nav a:last-of-type {
  color: rgba(0, 0, 0, 0.2);
}

nav a:first-of-type {
  display: block;

  width: 180px;
  height: 16px;

  background-image: url(../images/logo.svg);
  background-size: cover;
}

main {
  padding: 100px 50px 0px 110px;
}
article.example {
  position: relative;
  text-align: left;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

p {
  margin-top: 20px;
  font-size: 23px;
  line-height: 38px;
}

.example-text, .responsive-text, .process-text, .learn-text {
  display: inline-block;
  width: 580px;
}

img.pattern {
  width: 210px;
  height: 20px;
  margin-top: 50px;
  margin-left: -50px;
}

img.mockup1 {
  overflow-x: hidden;
  position: absolute;
  right: -150px;
  margin-top: 60px;
  width: 550px;
}
article.responsive h2 {
  margin-top: 650px;
}

img.mockup2 {
  overflow-x: hidden;
  position: absolute;
  margin-top: 70px;
  width: 464px;
  left: 260px;
}

.process-text h2 {
  margin-top: 650px;
}

img.pattern2 {
  width: 210px;
  margin-top: 50px;
  margin-left: 385px;
}

img.mockup3 {
  overflow-x: hidden;
  margin-top: 70px;
  width: 836px;
  margin-inline-start: -40px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

.learn-text {
  align-self: center;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.white {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin-right: 30px;
  background-color: white;
  border-color: rgba(0,0,0,.2);
}

.green {
  background-color: #64f364;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  background-image: linear-gradient(to bottom, #64F364 2%, #2BD42B 7%, #01A401 95%, #006900 100%);
  border-color: #00C000;
}

a {
  text-decoration: none;
}

a.white {
  font-size: 15px;
  color: rgba(0,0,0,.6);
  padding: 5px 25px;
}

a.green {
  font-size: 17px;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
}

p.footer {
  text-align: center;
  font-size: 16px;
  margin: 150px 0 30px;

}
/* _________________________________________ */
@media (min-width: 910px) {
  img.mockup1 {
    right: -150px;
    width: 450px;
    margin-top: 0px;
    margin-top: -270px;
  }

  h2 {
    font-size: 26px;
    line-height: 32px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
  }

  .example-text, .responsive-text, .process-text, .learn-text {
    width: 400px;
  }

  img.pattern {
    display: block;
    width: 147px;
    height: 14px;
    margin-top: 100px;
    margin-left: -40px;
  }

  article.responsive {
    display: flex;
  }

  img.mockup2 {
    width: 380px;
    margin-top: 178px;
    left: 61px;
    margin-top: 210px;
    height: 478px
  }

  .responsive-text {
    position: absolute;
    right: 20px;
    top: 440px;
  }

  .responsive img.pattern {
    margin-block-end: 2px;
    position: absolute;
    margin-top: 520px;
    right: 30px;
  }

  .process-text h2 {
    margin-top: 800px;
  }

  article.responsive h2 {
    margin-top: 175px;
  }

  img.mockup3 {
    margin-top: -300px;
    margin-inline-start: 435px;
  }

  img.pattern2 {
    display: block;
    width: 147px;
    height: 14px;
    margin-left: -50px;
  }

  .learn-text {
    display: block;
    margin: auto;
  }

  .learn-text h2 {
  margin-top: 100px;
  }
}

@media (min-width: 1050px) {
  h2 {
    font-size: 36px;
    line-height: 46px;
  }

  p {
    font-size: 26px;
    line-height: 38px;
  }

  .example-text, .responsive-text, .process-text, .learn-text {

    width: 580px;
  }

  img.pattern {
    width: 210px;
    height: 20px;
    margin-left: -70px;
  }

  img.mockup1 {
    right: -245px;
    width: 626px;
    top: 308px;
  }

  main {
    padding: 100px 50px 0px 60px;
  }

  .example-text h2 {
    margin-top: 45px;
  }

  article.responsive {
    margin-top: 95px;
  }

  article.responsive h2 {
    margin-top: 400px;
  }

  .responsive img.pattern {
    margin-top: 625px;
    right: -30px;
  }

  img.mockup3 {
    margin-top: -405px;
    margin-inline-start: 625px;
  }

  img.pattern2 {
    width: 210px;
    height: 20px;
    margin-left: -70px;
  }
}
