@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic');

body {
  font-family: 'PT Sans', sans-serif;
}

nav {
  display: flex;
  padding: 18px 20px;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

nav a {
  font-size: 14px;
  text-decoration: none;

  color: inherit;
}

nav a:last-of-type {
  color: rgba(0, 0, 0, 0.2);
}

nav a:first-of-type {
  display: block;

  width: 180px;
  height: 16px;

  background-image: url(../images/logo.svg);
  background-size: cover;
}

main {
  padding: 50px 0 100px 110px;
}
article.example {
  position: relative;
  text-align: left;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

p {
  margin-top: 20px;
  font-size: 23px;
  line-height: 38px;
}

.example-text, .responsive-text, .process-text {
  display: inline-block;
  width: 580px;
}

img.pattern {
  width: 210px;
  height: 20px;
  margin-top: 50px;
  margin-left: -50px;
}

img.mockup1 {
  overflow-x: hidden;
  /* box-sizing: border-box; */
  position: absolute;
  /* margin-right: -20px; */
  /* ЖЕНЯ ПОЧЕМУ МАРДЖИН ТОП РАБОТАЕТ А РАЙГХТ - НЕТ??? */
  margin-top: 60px;
  width: 550px;
}
article.responsive h2 {
  margin-top: 650px;
}

img.mockup2 {
  overflow-x: hidden;
  position: absolute;
  margin-top: 60px;
  width: 464px;
  left: 260px;
}

.process-text h2 {
  margin-top: 650px;
}

img.pattern2 {
  width: 210px;
  margin-top: 50px;
  margin-left: 385px;
}
